[user]
    name = David Souther
    email = davidsouther+github@gmail.com
	signingkey = ~/.ssh/id_ed25519
[include]
    path = ~/.gitconfig-user-local
[gpg]
	format = ssh
[core]
    autocrlf = input
    editor = /usr/bin/vim
    # excludesfile = ~/.gitignore
    ## Uncomment if large repositories get slow
    # fsmonitor = true
    # untrackedCache = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[branch]
    sort = -committerdate
[init]
    defaultBranch = main
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[merge]
    conflictstyle = zdiff3
    tool = vimdiff
[pull]
    rebase = true
[commit]
    verbose = true
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[pull]
    rebase = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[commit]
    verbose = true
	gpgsign = true
[tag]
    sort = version:refname
	gpgsign = true
[rerere]
    enabled = true
    autoupdate = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[merge]
    conflictstyle = zdiff3
    tool = vimdiff
[help]
    autocorrect = prompt
[column]
    # ui = auto
[alias]
    commend = blame

    current-branch = rev-parse --symbolic --abbrev-ref HEAD

    #color code and format the logs
    plog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    splog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --stat

    #shows a graph of all the changes in the last 24 hours, graphed out with branches and file names
    today = plog --stat --since='1 Day Ago'

    take-theirs = checkout --theirs $(git diff --name-only --diff-filter=U)
    add-theirs = add $(git diff --name-only --diff-filter=U)
    update = commit --all --amend --no-edit

[color "status"]
	#header = white
	#added = green
	#updated = green
	#changed = yellow
	#untracked = cyan
	#branch = magenta
	#nobranch = normal
	#unmerged = red
[advice]
	forceDeleteBranch = false
