[user]
    name = David Souther
    email = davidsouther+github@gmail.com
[core]
    autocrlf = input
    editor = /usr/bin/vim

[alias]
    st = status
    stat = status
    ci = commit
    ciw = commit -m 'woot'
    br = branch
    co = checkout
    cob = checkout -b
    df = diff
    dif = diff
    dc = diff --cached
    ls = ls-files

    commend = blame

    # Show files ignored by git:
    ign = ls-files -o -i --exclude-standard

    #color code and format the logs
    plog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    splog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --stat

    #shows a graph of all the changes in the last 24 hours, graphed out with branches and file names
    today = plog --stat --since='1 Day Ago'

    take-theirs = checkout --theirs $(git diff --name-only --diff-filter=U)
    add-theirs = add $(git diff --name-only --diff-filter=U)

[push]
    default = simple
[rerere]
    enabled = true

[diff "zip"]
    textconv = unzip -v

[diff "bin"]
    textconv = hexdup -vC
